{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}



{% block body %}
<div class="bvn">
    <h1>Bienvenue sur le site de la</h1>
    <img src="{{ asset('img/logo_MDL.png') }}">
    <p>Dates : <span class="data-item">samedi 7 et dimanche 8 septembre 2024</span></p>
</div>
<div class="contenue">   
    <div class="ateliers">
        <h3>Ateliers</h3>
        
        {% for atelier in ateliers%}
            <tr><a>{{atelier.libelle}} - {{atelier.nbplacesmaxi}} places</a></tr>
        {% endfor%}
        
    </div>
    <div class="menu">
        <h3>Menu</h3>
        <p class="data-item">insérer données</p>
    </div>
    <div class="hebergement">
        <h3>Hébergement</h3>
        {% for hotel in hotels%}
            <tr><a>{{hotel.nom}}</a></tr>
        <ul>
        {% for nuite in hotel.tarifs%}
        <li>{{ nuite.categoriechambre.libellecategorie }}  {{ nuite.tarifnuite }}€</li>
        {% endfor%}
        </ul>
        {% endfor%}
    </div>
</div>
        
            
{% endblock %}
