{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}




{% block body %}
<div class="bvn">
    <h1>Bienvenue sur le site de la</h1>
    <img src="{{ asset('img/logo_MDL.png') }}">
    <p>Dates : <span class="data-item">samedi 7 et dimanche 8 septembre 2024</span></p>
</div>
<div class="contenue">   
    <div class="ateliers">
        <h3>Ateliers</h3>
        <table id='ateliers'>
            <tr><th>Nom</th><th>Nombre de place</th></tr>
            
        {% for atelier in ateliers%}
            <tr><td>{{atelier.libelle}}</td>  <td>{{atelier.nbplacesmaxi}}</td></tr>
        {% endfor%}
        </table>
    </div>
    
    <div class="hebergement">
        <h3>Hébergement</h3>
        {% for hotel in hotels%}
            <tr><a>{{hotel.nom}}</a></tr>
        <ul>
        {% for nuite in hotel.tarifs%}
        <li>{{ nuite.categoriechambre.libellecategorie }}  {{ nuite.tarifnuite }}€</li>
        {% endfor%}
        </ul>
        {% endfor%}
    </div>
</div>
    <div class="banner" style="text-align: center; margin-top: 8%;">
    <img src="{{ asset('img/fond.jpg') }}">
    </div>    
            
{% endblock %}
