{% extends 'base.html.twig' %}

{% block title %}Hello ModifierController!{% endblock %}

{% block body %}
    <style>

        .content{
            display: flex;
            justify-content: center;
        }

    </style>
    
    <h1 style='text-align: center;'>Vacations de l'atelier {{ atelier.libelle }}</h1>
    
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date de début</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Modifier la vacation</th>
                </tr>
            </thead>
            <tbody>
                {% for vacation in atelier.vacations %}
                    <tr>
                        <th>{{ vacation.dateheuredebut|date("d/m/Y") }}</th>
                        <td>{{ vacation.dateheurefin|date("d/m/Y") }}</td>
                        <td><a href="/modifier/{{ atelier.id }}/{{ vacation.id }}">Modifier vacation</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
