{% extends 'base.html.twig' %}

{% block title %}Ajouter{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
{% endblock %}

{% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/accueil ">MDL</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/accueil">Home</a>
                            </li>
                            {%  if app.user  %} 
                                {%  if is_granted('ROLE_ADMIN')%}
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/ajout">Ajout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/modifier">Modifier</a>
                                    </li>
                                {% endif %}
                                {%  if is_granted('ROLE_INSCRIT')%}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/inscriptioncongres">Inscription</a>
                                    </li>
                                {% endif %}
                            </ul>

                            <ul class="navbar-log">
                                <li class="log-item">
                                    <a href="/logout" class="nav-link">Se deconnecter</a>
                                </li>
                            {% else %}
                                <ul class="navbar-log">
                                    <li class="log-item">
                                        <a href="/logout" class="nav-link">Se connecter</a>
                                    </li>
                                    <li class="log-item">
                                        <a href="/register" class="nav-link">S'inscrire</a>
                                    </li>
                                {% endif %}
                            </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

{% block body %}

    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
        .access-denied {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            max-width: 400px;
            margin: auto;
            margin-top: 100px;
        }

        .access-denied h1 {
            color: #d9534f;
        }

        .access-denied p {
            color: #555;
        }

    </style>
    {% if unauthorized is not defined %}

        {% for message in app.flashes('warning') %}
            <div class="access-denied">
                {{ message }}
            </div>
        {% endfor %}

        <div class="example-wrapper">
            <div class="form" id="atelier" style="display: block;">
                <p>Ajout atelier</p>
                {{ form_start(formAtelier) }}
                {{ form_widget(formAtelier) }}
                <input type="hidden" name="form_type" value="atelier">
                <input type="submit" value="envoyer">
                {{ form_end(formAtelier) }}
            </div>
        </div>



    {% endif %}
{% endblock %}
