{% extends 'base.html.twig' %}

{% block title %}Hello AjoutController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">


        <form id="choix">
            <p>Selectionnez ce que vous voulez ajouter :</p>
            <input type="radio" name="choix" value="atelier" id="ratelier">
            <label for="Atelier">Atelier</label>

            <input type="radio" name="choix" value="theme" id="rtheme">
            <label for="Theme">Theme</label>

            <input type="radio" name="choix" value="vacation" id="rvacation">
            <label for="Vacation">Vacation</label>
        </form>

        <div class="form" id="atelier" style="display: none;">
            <p>Ajout atelier</p>
        {{ form_start(formAtelier) }}
        {{ form_widget(formAtelier) }}
        <input type="hidden" name="form_type" value="atelier">
        <input type="submit" value="envoyer">
        {{ form_end(formAtelier) }}
        </div>

        <div  class="form" id="theme" style="display: none;">
            <p>Ajout theme</p>
        {{ form_start(formTheme) }}
        {{ form_widget(formTheme) }}
        <input type="hidden" name="form_type" value="theme">
        <input type="submit" value="envoyer">
        {{ form_end(formTheme) }}
        </div>
        
        <div  class="form" id="vacation" style="display: none;">
            <p>Ajout vacation</p>
        {{ form_start(formVacation) }}
        {{ form_widget(formVacation) }}
        <input type="hidden" name="form_type" value="vacation">
        <input type="submit" value="envoyer">
        {{ form_end(formVacation) }}
        </div>
        
        {{ dump(_context) }}

    </div>
        <script src="{{ asset('js/ajout.js') }}"></script>
{% endblock %}
