{% extends 'base.html.twig' %}

{% block title %}Hello AjoutController!{% endblock %}

{% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/accueil ">MDL</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/accueil">Home</a>
                            </li>
                            {%  if app.user  %} 
                                {%  if is_granted('ROLE_ADMIN')%}
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/ajout">Ajout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/modifier">Modifier</a>
                                    </li>
                                {% endif %}
                                {%  if is_granted('ROLE_INSCRIT')%}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/inscriptioncongres">Inscription</a>
                                    </li>
                                {% endif %}
                            </ul>

                            <ul class="navbar-log">
                                <li class="log-item">
                                    <a href="/logout" class="nav-link">Se deconnecter</a>
                                </li>
                            {% else %}
                                <ul class="navbar-log">
                                    <li class="log-item">
                                        <a href="/logout" class="nav-link">Se connecter</a>
                                    </li>
                                    <li class="log-item">
                                        <a href="/register" class="nav-link">S'inscrire</a>
                                    </li>
                                {% endif %}
                            </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

{% block body %}

    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
        .access-denied {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            max-width: 400px;
            margin: auto;
            margin-top: 100px;
        }

        .access-denied h1 {
            color: #d9534f;
        }

        .access-denied p {
            color: #555;
        }

        .notif {
            background-color: #4CAF50;
            color: white; /* Couleur du texte */
            padding: 20px; /* Espacement autour du texte */
            position: fixed; /* Position fixée pour toujours rester en vue */
            top: 20px; /* Positionnée à 20px du haut de la page */
            right: 20px; /* Positionnée à 20px de la droite de la page */
            z-index: 1000; /* S'assure que la notification est au-dessus d'autres éléments */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre légère pour un peu de profondeur */
            border-radius: 4px; /* Bordures arrondies */
        }

        #fermer {
            float: right; /* Place la croix à droite */
            font-size: 22px; /* Taille de la croix */
            cursor: pointer; /* Change le curseur en main pour indiquer un élément cliquable */
        }

        #fermer:hover {
            color: #bbb; /* Change la couleur lorsque survolée pour un retour visuel */
        }

        .message{
            margin-right: 10px;
        }

    </style>

    {% for message in app.flashes('success') %}
    <div class="notif">
        <span id="fermer" onclick="fermerNotif()">&times;</span>
        <p class="message">{{message}}</p>
    </div>
    {% endfor %}

    {% if unauthorized is not defined %}

        <div class="example-wrapper">


            <form id="choix">
                <p>Selectionnez ce que vous voulez ajouter :</p>
                <input type="radio" name="choix" value="atelier" id="ratelier">
                <label for="ratelier">Atelier</label>

                <input type="radio" name="choix" value="theme" id="rtheme">
                <label for="rtheme">Theme</label>

                <input type="radio" name="choix" value="vacation" id="rvacation">
                <label for="rvacation">Vacation</label>
            </form>

            <div class="form" id="atelier" style="display: none;">
                <p>Ajout atelier</p>
                {{ form_start(formAtelier) }}
                {{ form_widget(formAtelier) }}
                <input type="hidden" name="form_type" value="atelier">
                <input type="submit" value="envoyer">
                {{ form_end(formAtelier) }}
            </div>

            <div  class="form" id="theme" style="display: none;">
                <p>Ajout theme</p>
                {{ form_start(formTheme) }}
                {{ form_widget(formTheme) }}
                <input type="hidden" name="form_type" value="theme">
                <input type="submit" value="envoyer">
                {{ form_end(formTheme) }}
            </div>

            <div  class="form" id="vacation" style="display: none;">
                <p>Ajout vacation</p>
                {{ form_start(formVacation) }}
                {{ form_widget(formVacation) }}
                <input type="hidden" name="form_type" value="vacation">
                <input type="submit" value="envoyer">
                {{ form_end(formVacation) }}
            </div>


        </div>
        <script src="{{ asset('js/ajout.js') }}"></script>
    {% else %}

        <div class="access-denied">
            <h1>Accès Non Autorisé</h1>
            <p>Désolé, vous n'avez pas la permission d'accéder à cette page.</p>
        </div>


    {% endif %}
{% endblock %}
